/*
units
-----
unit's will specify the container size

1. absolute units
    px,cm,mm,in


2. relative units
    em,rem,%,vh,vw,calc()

    em-parent element size
    rem- root element size - default size - 16px =>1 rem=16px
    % container size defind 
    vh-view port height
    vW-view port width
    calc()-function ->calc(value opa value)


 */
 /* .parent{
  width: 50vw;
  height: 50vh;
  border: 2px solid red;
 }
 .child{
  width: 50vw;
  height: 50vh;
  background-color: lightgreen;
 } */
  /* :root{
    font-size: 20px;
  } */

 /* .parent{
  width: 300px;
  height: 200px;
  border: 2px solid purple
 }
 .child{
  width: 1rem; 
  height: 1rem;
  background-color: red;
  font-size: 5rem;
 } */
  /* .parent{
  width: 300px;
  height: 200px;
  border: 2px solid purple;
  font-size: 20px;
 }
 .child{
  width: 1em; 
  height: 1em;
  background-color: red;
 } */

 /* .parent{
  width: calc(100% - 200px);
  height: 20px;
  background-color: purple;
 } */
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 .parent{
  width: 200px;
  height: 200px;
  background-color: purple;
 }

















 /* p::before{
  content: "Note:";
  color: blue;
  font-style: italic;
 }
 p::after{
  content: "Note this";
  color: red;
  font-style: italic;
 } */
  /* p::before{
    content: "😃";
    font-size: xx-large;
  } */

  p::first-letter{
    font-size: xx-large;
    text-transform: lowercase;
    content: "hello";
  }

/* p::first-line{
  background-color: yellow;
  font-size: xx-large;
  text-transform: uppercase;
  color: wheat;
} */

p::selection{
  color: yellow;
  background-color: purple;
  /* text-transform: uppercase; */
}
li::before{
  content: "😆";
  font-size: xx-large;
}
li::after{
  content: "🙂";
   font-size: xx-large;
}
li::marker{
  content: "😁";
   font-size: xx-large;
}
 

  /* span{
    color: blue;
    font-style: italic;
  } */

