/* h1{
  text-align: center;
  background-color: red;
  color: black;
  position: sticky;
  top: 0px;
}
body{
  background-color: black;
  color: white;
} */

/*
 combinators selectors
 ---------------------
 there are 4 types of combinators
 1. child (>)
 2. decadent (space) 
 3. adjacent sibling selector or next sibling selector (+)
 4. general sibling (~)

 */
 /* div~.heading2,h1{
  background-color: red;
 } */
  /* div{
    width: 300px;
    height: 300px;
    border: 2px solid;
  } */
   /*
  p{
    text-align: center; */
    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: none; */
    /* text-align: end; */
    /* text-align: justify; */
    /* text-align: right; */
    /* text-shadow: 1; 
  }
    */
  /* div>a{
    /* text-decoration: dashed; */
    

  div{
    background-color: blue;
    width: 200px;
    height: 200px;
    display: inline-block;
    /* display: none; */
    /* visibility: hidden; */
    /* display: block;
    display: inline;
    display: inline-block;
    display: none;
    visibility: hidden;
    display: flex;
    display: grid; */
  }
  /* span{
    background-color:red;
    width: 200px;
    height: 200px;
    display: inline-block;
  } */