/* *{
    color: purple;
    background-color: black;
} */

/* .classHeading1{
    color: red;
}
#idHeading2{
    color: yellow;
}
.heading3{
    color: gold;
} */
 /* h1{
    background-color: rgb(18, 127, 223);
 }
 .heading3,.heading4,.heading5,p{
    color: white;
 } */


 #heading1{
    color: yellow;

 }
 .classHeading1{
    color: red;
    text-align: center;
 }
 .heading2{
    color: pink;
 }
 #idHeading2{
    color: blue;
 }